body {
    background-color: #E2CAF8;
   font-family: Lato;
}

.year-container{
  position: relative;
  width: 300px;
  margin: 20px;
}

.years-container{
  height: 100%;
}

#header{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 20px;
  display: inline-block;
}

#subheader{
  margin-left: 40px;
  padding-top: 10px;
  font-size: 14px;
}

a:link {
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-right: 40px;
  margin-top: 45px;
  
  font-size: 16px;
}

.year {
  z-index: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 25px;
  color: white;
  line-height: 100px;
  text-align: center;
  background: #E2CAF8;
}

.year:hover{
  cursor: pointer;
}

#y1995, #y2015, #y2017, #y2009{
  border-style: solid;
  border-color: #B07BE4;
  border-width: 6px;
  
}

#y2002, #y2012, #y2013{
  border-style: solid;
  border-color: #8740CB;
  border-width: 6px;
  
}

#y2007, #y2014, #y2016{
  border-style: solid;
  border-color: #570AA1;
  border-width: 6px;

}

.event{
  color: black;
  position: absolute;
  left: 130px;
  top: 0px;
  width: 100px;

  display: none;

}

a.event2:link{
  display: none;
}

.event2{
  color: black;
  position: absolute;
  left: 130px;
  top: 80px;
  width: 100px;

  display: none;


}

.event3{
  color: black;
  position: absolute;
  left: -90px;
  top: 100px;
  width: 100px;

  display: none;

}

.event4{
  color: black;
  position: absolute;
  left: -90px;
  top: 0px;
  width: 100px;

  display: none;

}

#yc1995{
  position: relative;
  left:400px;
  top: 0px;
}

#yc2002{
  position: relative;
  left:770px;
  top: -100px;
}

#yc2007{
  position: relative;
  left:50px;
  top: -200px;
}

#yc2009{
  position: relative;
  left:1020px;
  top: -240px;
}

#yc2012{
  position: relative;
  left:250px;
  top: -315px;
}

#yc2013{
  position: relative;
  left:950px;
  top: -170px;
}

#yc2014{
  position: relative;
  left:550px;
  top: -600px;
}

#yc2015{
  position: relative;
  left:100px;
  top: -500px;
}

#yc2016{
  position: relative;
  left:450px;
  top: -590px;
}

#yc2017{
  position: relative;
  left:750px;
  top: -900px;
}
