body {
    background-color: #E2CAF8;
    font-family: Lato;
    margin: 0;
}

#header{
  margin-left: 40px;
  margin-top: 40px;
  font-size: 20px;
  display: inline-block;
}

#subheader{
  margin-left: 40px;
  padding-top: 10px;
  font-size: 14px;
}

a:link {
  color: black;
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-right: 40px;
  margin-top: 45px;
  
  font-size: 16px;
}

a.ut:link {
    color: black;
    width: 300px;
    position: relative;
    left: 80px;
    float: none;
    top: -35px;
    margin-bottom: -15px;
}

a.ut:hover {
  cursor: pointer;
}

#spine {
    height: 900*2px;
    width: 4px;
    background: #857c78;
    border-radius: 2px;
    position: relative;
    margin: 0 auto;
}

.year-container{
  position: relative;
  left: -35px;
}

.events p{
  color: black;
  line-height: 1.4em; 
  width: 300px;
  position: relative;
  left: 80px;
  top: -20px;
}

.eventsO p{
  color: black;
  text-align: right;
  line-height: 1.4em; 
  width: 300px;
  position: relative;
  left: -300px;
  top: -20px;
}

.year {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 17px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #E2CAF8;

  position: relative;
  margin: 0 auto;
}

#y1995, #y2009, #y2017, #y2014{
  border-style: solid;
  border-color: #B07BE4;
  border-width: 4px;
}

#y2002, #y2012, #y2015{
  border-style: solid;
  border-color: #8740CB;
  border-width: 4px;
}

#y2007, #y2013, #y2016{
  border-style: solid;
  border-color: #570AA1;
  border-width: 4px;
}

.event{
  color: black;
  position: absolute;
  left: 70px;
  top: -35px;
  padding: 10px;
}

.event2{
  color: black;
  position: absolute;
  left: 70px;
  top: -35px;
  padding: 10px;
}

.event3{
  color: black;
  position: absolute;
  left: 70px;
  padding: 10px;
  top: -35px;
}

.event4{
  color: black;
  position: absolute;
  left: 70px;
  top: -35px;
  padding: 10px;
}

p{
  color: green;
  line-height: 70px;
}
