
/* Identifier */
div.details{

    h1{
        color: $color-base-1;
        @include font-bold;
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }

    div.subheading{
        color: $color-base-1;
        @include font-bold;
        font-size: 18px;
        opacity: .64;
        text-align: center;
        text-transform: uppercase;
    }

    /* Section */
    div.section{

        & + div.section{  margin-top: 36px  }

        h2{
            color: $color-base-1;
            @include font-bold;
            font-size: 24px;
            margin-bottom: 14px;
        }

        p{
            color: $color-base-1;
            @include font-regular;
            font-size: 16px;
            line-height: 24px;

            & + video{
                margin-top: 48px;
            }
        }

        ul{

            li{
                color: $color-base-1;
                @include font-regular;
                font-size: 16px;
                line-height: 24px;
            }
        }

        /* Video */
        video{
            margin: 64px auto;
            width: 100%;

            &:last-child{
                margin-bottom: 28px;
            }
        }

        /* Images */
        div.images{
            font-size: 0;
            text-align: center;
        }

            /* Image */
            div.image{
                margin: 64px auto;
                max-width: 80%;

                img{
                    width: 100%;

                    & + div.caption{  margin-top: 14px  }
                }

                /* Caption */
                div.caption{
                    color: $color-base-1;
                    @include font-regular;
                    font-size: 12px;
                    text-align: center;

                    & + img{  margin-top: 14px  }
                }

                /* {_half} */
                &._half{
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;

                    &:nth-child(even){
                        margin-left: 2%;
                    }
                }
            }
    }
}
