
div#home{
    width: 100%;

    /* Heading */
    div.heading{
        color: $color-base-1;
        @include font-bold;
        font-size: 32px;
        letter-spacing: 0.2px;
        text-align: center;
    }

    /* Navigation */
    div.navigation{
        margin: 20px 0 64px;
        text-align: center;

        a{
            color: $color-base-1;
            display: inline-block;
            @include font-regular;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;

            & + a{  margin-left: 24px  }
        }
    }

    /* Items */
    div.items{
        font-size: 0;
    }

    /* List Item */
    a.list-item{
        background-color: #FFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
        display: inline-block;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        vertical-align: top;
        width: 48%;

        transition: transform .2s ease;

        &:nth-child(even){  margin-left: 4%  }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){  margin-top: 80px  }

        &:hover{
            // transform: translateY(-10px);
        }
    }

        /* Image Container */
        div.image-container{
            background-color: $color-accent-2;
            box-sizing: border-box;
            font-size: 0;
            width: 100%;

            img{
                display: block;
                height: auto;
                width: 100%;
            }
        }

        /* Details */
        div.details{
            background-color: $color-base-2;
            box-sizing: border-box;
            padding: 24px 30px;
            width: 100%;

            /* Title */
            div.title{
                color: $color-base-1;
                @include font-bold;
                font-size: 18px;
            }

            /* Subtitle */
            div.subtitle{
                color: $color-accent-2;
                @include font-regular;
                font-size: 12px;
                margin-top: 4px;
                text-transform: uppercase;
            }

            /* Description */
            div.description{
                color: $color-base-1;
                @include font-regular;
                font-size: 14px;
                line-height: 24px;
                margin-top: 18px;
            }

            /* Learn More */
            div.learn-more{
                margin-top: 18px;
                margin-left: calc(100% - 115px);

                span{
                    color: $color-base-1;
                    @include font-regular;
                    font-size: 16px;
                    line-height: 24px;
                    vertical-align: middle;
                }

                div.arrow{
                    background-image: url('../images/icon_arrow.png');
                    background-size: 100%;
                    display: inline-block;
                    margin-left: 8px;
                    vertical-align: middle;
                    width: 17px; height: 12px;
                }
            }

            // /* [Learn More] */
            // button.learn-more{
            //     border: 1px solid $color-base-1;
            //     border-radius: 2px;
            //     color: $color-base-1;
            //     @include font-bold;
            //     font-size: 12px;
            //     margin-top: 32px;
            //     padding: 10px 14px;
            // }
        }

        // Responsive
        @media (max-width: 768px){
            a.list-item{
                margin-left: 0 !important;
                margin-top: 80px;
                width: 100%;

                &:first-child{  margin-top: 0  }
            }
        }
}
