
/* Identifier */
div#home{
    width: 100%;

    /* Items */
    div.items{
        font-size: 0;
    }

    /* List Item */
    a.list-item{
        display: inline-block;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        vertical-align: top;
        width: 48%;

        transition: transform .2s ease;

        &:nth-child(even){  margin-left: 4%    }
        &:nth-child(n+3) {  margin-top: 100px  }

        /* Shadow */
        div.shadow{
            -webkit-box-shadow: 0 12px 40px 0 rgba(0,0,0,.26);
            box-shadow: 0 12px 40px 0 rgba(0,0,0,.26);
            position: absolute;
            top: 4%; left: 4%;
            width: 92%; height: 92%;
            z-index: 1;
        }
    }

        /* Image Container */
        div.image-container{
            background-color: $color-accent-2;
            box-sizing: border-box;
            font-size: 0;
            position: relative;
            width: 100%;
            z-index: 2;

            img{
                border-radius: inherit;
                display: block;
                height: auto; width: 100%;
            }
        }

        /* Details */
        div.details{
            box-sizing: border-box;
            position: relative;
            width: 100%;
            z-index: 2;

            /* Subtitle */
            div.subtitle{
                color: $color-accent-2;
                @include font-regular;
                font-size: 12px;
                margin-top: 20px;
                text-transform: uppercase;
            }
            
            /* Title */
            div.title{
                color: $color-base-1;
                @include font-semibold;
                font-size: 20px;
                margin-top: 4px;

                &:hover{  
                    color: darken($color: $color-base-1, $amount: 20);
                    transition: color 286ms ease;
                }
            }

            /* Description */
            div.description{
                color: $color-base-1;
                @include font-regular;
                font-size: 14px;
                line-height: 22px;
                margin-top: 10px;
            }

            /* Learn More */
            div.learn-more{
                margin-top: 24px;
                margin-left: calc(100% - 115px);

                span{
                    color: $color-base-1;
                    @include font-regular;
                    font-size: 16px;
                    line-height: 24px;
                    vertical-align: middle;
                }

                div.arrow{
                    background-image: url('../images/icon_arrow.png');
                    background-size: 100%;
                    display: inline-block;
                    margin-left: 8px;
                    vertical-align: middle;
                    width: 17px; height: 12px;
                }
            }
        }
}




/* Responsive */
div#home{

    
    // 580px
    @media (max-width: 580px) {

        // Full width items.
        a.list-item{  
            width: 100%;

            // Decrease top margin.
            & + a.list-item,
            &:nth-child(3), 
            &:nth-child(4), 
            &:nth-child(5){
                margin-top: 48px;
            }

            // Remove left margin and decrease top margin.
            &:nth-child(even){
                margin-left: 0;
                margin-top: 48px;
            }
        }
        
    }


    // 320px
    @media (max-width: 320px) {

        // decrease font sizes and margins.
        div.details{

            div.title{
                font-size: 16px;
                margin-top: 8px;
            }

            div.subtitle{
                font-size: 10px;
                margin-top: 20px;
            }

            div.description{
                font-size: 12px;
                line-height: 20px;
                margin-top: 6px;
            }
        }

    }


}
