
div#home{
    width: 100%;

    /* Heading */
    div.heading{
        color: $color-base-1;
        @include font-bold;
        font-size: 32px;
        letter-spacing: 0.2px;
        text-align: center;
    }

    /* Navigation */
    div.navigation{
        margin: 20px 0 64px;
        text-align: center;

        a{
            color: $color-base-1;
            display: inline-block;
            @include font-regular;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;

            & + a{  margin-left: 24px  }
        }
    }

    /* List Item */
    a.list-item{
        cursor: pointer;
        display: flex;
        text-decoration: none;
        transition: transform ease-out 180ms;
        // align-items: flex-start;
        // align-content: flex-start;

        & + a.list-item{  margin-top: 80px  }

        &:hover{
            box-shadow: -1px 3px 10px 0 rgba(0,0,0,.1);
            transform: scale(1.0125);
        }


        /* {_even} */
        &._even{
            flex-direction: row-reverse;
        }
    }

        /* Image Container */
        div.image-container{
            background-color: $color-accent-2;
            box-sizing: border-box;
            display: inline-block;
            font-size: 0;
            padding: 3%;
            text-align: center;
            width: 33%;

            // align-self: flex-start;

            // display: flex;

            img{
                display: inline-block;
                vertical-align: middle;
                max-width: calc(100% - 1px);
                height: auto;
            }
        }

        /* Details */
        div.details{
            background-color: $color-base-2;
            box-sizing: border-box;
            display: inline-block;
            padding: 50px 60px;
            width: 67%;

            /* Title */
            div.title{
                color: $color-base-1;
                @include font-bold;
                font-size: 21px;
            }

            /* Subtitle */
            div.subtitle{
                color: darken(saturate($color-accent-2, 2%), 4%);
                @include font-regular;
                font-size: 12px;
                margin-top: 4px;
                text-transform: uppercase;
            }

            /* Description */
            div.description{
                color: $color-base-1;
                @include font-regular;
                font-size: 14px;
                line-height: 24px;
                margin-top: 18px;
            }

            /* [Learn More] */
            button.learn-more{
                border: 1px solid $color-base-1;
                border-radius: 2px;
                color: $color-base-1;
                @include font-bold;
                font-size: 12px;
                margin-top: 32px;
                padding: 10px 14px;
            }
        }
}
