/* Variables */
.no-top-margin {
  margin-top: 0 !important;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

div.v-centerizer {
  height: 50%;
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}

body {
  margin: 0;
  /* Content */
}
body div.content {
  margin: auto;
  max-width: 1196px;
  padding: 36px 0 100px;
  width: 95%;
}
body p {
  margin-top: 0;
}
body a {
  color: #365474;
  text-decoration: none;
}
body a:hover {
  color: #436181;
}

/* Responsive */
@media (max-width: 640px) {
  body div.content {
    width: 88%;
  }
}

/* Identifier */
div#home {
  width: 100%;
  /* Items */
  /* List Item */
  /* Image Container */
  /* Details */
}
div#home div.items {
  font-size: 0;
}
div#home a.list-item {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  width: 48%;
  transition: transform 0.2s ease;
  /* Shadow */
}
div#home a.list-item:nth-child(even) {
  margin-left: 4%;
}
div#home a.list-item:nth-child(n+3) {
  margin-top: 100px;
}
div#home a.list-item div.shadow {
  -webkit-box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 4%;
  left: 4%;
  width: 92%;
  height: 92%;
  z-index: 1;
}
div#home div.image-container {
  background-color: #565e66;
  box-sizing: border-box;
  font-size: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
div#home div.image-container img {
  border-radius: inherit;
  display: block;
  height: auto;
  width: 100%;
}
div#home div.details {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 2;
  /* Title */
  /* Subtitle */
  /* Description */
  /* Learn More */
}
div#home div.details div.title {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}
div#home div.details div.subtitle {
  color: #565e66;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  text-transform: uppercase;
}
div#home div.details div.description {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}
div#home div.details div.learn-more {
  margin-top: 24px;
  margin-left: calc(100% - 115px);
}
div#home div.details div.learn-more span {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
}
div#home div.details div.learn-more div.arrow {
  background-image: url("../images/icon_arrow.png");
  background-size: 100%;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: 17px;
  height: 12px;
}

/* Responsive */
@media (max-width: 580px) {
  div#home a.list-item {
    width: 100%;
  }
  div#home a.list-item + a.list-item, div#home a.list-item:nth-child(3), div#home a.list-item:nth-child(4), div#home a.list-item:nth-child(5) {
    margin-top: 48px;
  }
  div#home a.list-item:nth-child(even) {
    margin-left: 0;
    margin-top: 48px;
  }
}
@media (max-width: 320px) {
  div#home div.details div.title {
    font-size: 16px;
    margin-top: 8px;
  }
  div#home div.details div.subtitle {
    font-size: 10px;
    margin-top: 20px;
  }
  div#home div.details div.description {
    font-size: 12px;
    line-height: 20px;
    margin-top: 6px;
  }
}

/* Identifier */
div.details {
  margin: auto;
  max-width: 768px;
  /* Subheading */
  /* Section */
}
div.details h1 {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}
div.details div.subheading {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.64;
  text-align: center;
  text-transform: uppercase;
}
div.details div.section {
  /* Video */
  /* Images */
  /* Image */
}
div.details div.section + div.section {
  margin-top: 48px;
}
div.details div.section h2 {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 14px;
}
div.details div.section p {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
div.details div.section p + video {
  margin-top: 48px;
}
div.details div.section ul li {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
div.details div.section video {
  margin: 64px auto;
  width: 100%;
}
div.details div.section video:last-child {
  margin-bottom: 28px;
}
div.details div.section div.images {
  font-size: 0;
  text-align: center;
}
div.details div.section div.image {
  margin: 64px auto;
  max-width: 80%;
  /* Caption */
  /* {_half} */
  /* {_grid} */
}
div.details div.section div.image img {
  width: 100%;
}
div.details div.section div.image img + div.caption {
  margin-top: 14px;
}
div.details div.section div.image div.caption {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
div.details div.section div.image div.caption + img {
  margin-top: 14px;
}
div.details div.section div.image._half {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
div.details div.section div.image._half:nth-child(even) {
  margin-left: 2%;
}
div.details div.section div.image._grid {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
div.details div.section div.image._grid:nth-child(1) {
  margin-bottom: 18px;
}
div.details div.section div.image._grid:nth-child(2) {
  margin-left: 2%;
  margin-bottom: 18px;
}
div.details div.section div.image._grid:nth-child(3) {
  margin-top: 0;
}
div.details div.section div.image._grid:nth-child(4) {
  margin-left: 2%;
  margin-top: 0;
}

/* Responsive */
@media (max-width: 540px) {
  div.details h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  div.details div.subheading {
    font-size: 14px;
  }
  div.details div.section + div.section {
    margin-top: 36px;
  }
  div.details div.section div.image {
    margin: 36px auto;
  }
  div.details div.section div.image._half {
    display: block;
    margin: 36px auto 18px;
    width: 100%;
  }
  div.details div.section div.image._half:nth-child(even) {
    margin: 18px auto 36px;
  }
  div.details div.section div.image._grid {
    display: block;
    margin: 36px auto 18px;
    width: 100%;
  }
  div.details div.section div.image._grid + ._grid {
    margin: 18px auto 0;
  }
  div.details div.section video {
    margin: 36px auto;
  }
  div.details div.section video:last-child {
    margin-bottom: 8px;
  }
  div.details div.section h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  div.details div.section p {
    font-size: 14px;
  }
  div.details div.section p + video {
    margin: 36px auto;
  }
  div.details div.section ul li {
    font-size: 14px;
  }
  div.details div.section ul li + li {
    margin-top: 8px;
  }
}

/* Identifier */
div.about {
  /* Profile Picture */
  /* Details */
}
div.about div.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  height: 240px;
}
div.about div.profile-pic img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
div.about div.details {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
  width: calc(100% - 240px - 46px);
}
div.about div.details h1 {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: left;
}
div.about div.details p {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
div.about div.details div.contact, div.about div.details a.contact {
  color: #282829;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 580px) {
  div.about div.profile-pic {
    display: block;
    margin: 0 auto 36px;
  }
  div.about div.details {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  div.about div.details h1 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  div.about div.details p {
    font-size: 14px;
    margin-top: 0;
  }
  div.about div.details div.contact, div.about div.details a.contact {
    font-size: 14px;
    margin-top: 4px;
  }
}
/* Header */
div.header {
  background-color: #FFF;
  margin: auto;
  padding: 16px 0;
  position: relative;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 3;
  max-width: 1196px;
  /* Heading */
  /* Navigation */
}
div.header a.heading {
  color: #282829;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.2px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
}
div.header div.navigation {
  display: inline-block;
  padding-top: 9px;
  position: absolute;
  right: 0;
  vertical-align: middle;
}
div.header div.navigation a {
  color: #282829;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
div.header div.navigation a + a {
  margin-left: 24px;
}

/* Responsive */
@media (max-width: 460px) {
  div.header a.heading {
    font-size: 20px;
  }
  div.header div.navigation {
    padding-top: 4px;
  }
  div.header div.navigation a {
    font-size: 12px;
  }
  div.header div.navigation a + a {
    margin-left: 16px;
  }
}
@media (max-width: 360px) {
  div.header a.heading {
    font-size: 19px;
    letter-spacing: normal;
  }
  div.header div.navigation {
    padding-top: 3px;
  }
  div.header div.navigation a + a {
    margin-left: 8px;
  }
}

/*# sourceMappingURL=index.css.map */
