.main-container{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	color: #434343;
}

.home-container{
	max-width:900px; 
	padding-left: 25px; 
	padding-right: 25px; 
	background-color: white;
	border-style: solid;
	border-color: rgb(255, 230, 234);
	text-align: center;
	padding-bottom: 40px;
	color: #434343;
}

.home-title{
	margin-top:65px;
}

#right{
	padding-left: 90%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#homeButton{
	font-family: "Helvetica Neue","Arial","sans-serif";
	letter-spacing: 2.25px;
	
	text-align: right;
	font-size: 16px;
	color: #434343;
	word-spacing: 12px;
}

.links-container a{
	font-family: "Helvetica Neue","Arial","sans-serif";
	letter-spacing: 2.25px;
	text-transform: uppercase;
	color: #434343;
	text-decoration: none;
	font-size: 14px;
}

#ok a{
	color: #434343;
}

#resume a{
	color: #434343;
}

#vadesc{
	font-family: "proxima-nova",sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    color: #b0b4b6;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
	margin: auto;
	width: 100%;
    object-fit: cover;
    -webkit-transform:translateY(450%);
}

#vacont{
	/*position: absolute;*/
	height: 170px;
	width:100%;
	object-fit:cover;
	background-color: white;
}

#vaimg{
	position: relative;
	margin: auto;
	width: 100%;
    object-fit: cover;
    -webkit-transform:translateY(200%);
}

.link {
	color: #434343;
}

#line{
	display: inline-block;
}

#Sarah {
	margin-top: -40px;
	margin-bottom: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

#ok {
    color: rgba(58,71,80,.7);
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

h1{
	font-family: 'Satisfy', cursive;
	font-size: 25px;
	text-decoration: underline;
	padding-top: 60px;
}

.about-text,.article-container .content,.contact-text,.serif,.social-media-container h2,.work-item h3{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Helvetica Neue","Arial","sans-serif";
	letter-spacing: 2.25px;
}

.home-experience{padding-top:15px}
/*.home-experience h1{animation:fadein .5s both;animation-delay:.4s}*/
.experience-grid{animation:fadein .5s both;animation-delay:.45s;display:flex;
}
.experience-item{
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color:inherit;
	margin:5px 5px 25px;
	margin-left: 0px;
	padding:15px 15px 25px;
	position:relative;
	text-decoration:none;
	width:calc(50% - 10px);-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;
}

.experience-item h2{
	text-align: left;
	font-size:14px;
	font-weight:400;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;
}

.experience-item h3{
	text-align: left;
	color:rgba(58,71,80,.6);
	font-size:11px;
	-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;
	margin: -10px;
    margin-left: 0px;
    font-weight: normal;
}
.experience-item:after{
	background:rgb(255, 230, 234);
	content:"";height:100%;left:0;opacity:0;position:absolute;top:0;transition:100ms;width:100%;z-index:-1;-webkit-transform:scale(0.9);-moz-transform:scale(0.9);-ms-transform:scale(0.9);-o-transform:scale(0.9);transform:scale(0.9)}
.experience-item:hover:after{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
.experience-item-img{background:rgba(143,172,192,.2);border-radius:2px;height:170px;margin-bottom:15px;overflow:hidden;position:relative;width:100%}
.experience-item-img img{height:100%;width:100%;object-fit:cover}
.experience-item-img:before{background:0 0;content:"";height:100%;left:0;position:absolute;top:0;width:100%}
/*.experience-icon{background-size:cover;background-repeat:no-repeat;height:55px;left:50%;position:absolute;top:50%;width:55px;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}*/


/*.home-about{animation:fadein .5s both;animation-delay:.5s;margin-top:-30px;padding-top:40px}*/
.about-text{color:rgba(58,71,80,.7);font-size:18px;line-height:1.7;margin-bottom:25px}
/*.home-contact{animation:fadein .5s both;animation-delay:.55s;margin-bottom:80px;margin-top:-10px;padding-top:40px;
}*/

.contact-text {
    padding-top: 0px;
    padding-left: 130px;
    padding-right: 122px;
    color: rgba(58,71,80,.7);
    font-size: 18px;
    line-height: 1.7;
}


.contact-email{
	margin-right: 50px;
	/*transformtranslateY*/
	/*width:250px;*/
	background:rgb(255, 230, 234);
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Helvetica Neue","Arial","sans-serif";
	letter-spacing: 2.25px;
	font-size:19px;
	font-weight:500;
	padding:15px 20px
}

.links-container{
	text-align: center;
	padding: 10px 10px 0px 10px;
	word-spacing: 12px;
}

.social-media-container{
	/*display: inline-block;*/
}

#resume{
	padding-bottom: 20px;
}

.social-media-container li{display:inline-block;margin:0 10px 15px;opacity:.6;transition:100ms}
.social-media-container li:hover{opacity:1}
.social-media-container a{display:inline-block}
.social-media-container img{transition:100ms;width:28px;}
.social-media-container h2{font-size:13px;letter-spacing: 1.5px;margin-top:5px}

#med {
    width: 21.5px;
    height: 20px;
    padding-bottom: 4px;
}
