
$color-base-1: #282829;
$color-base-2: #F0F1F2;

$color-accent-2: #565e66;
$color-accent-1: #736CED;
// $color-accent-2: #9F9FED;
$color-accent-3: #D4C1EC;


@mixin font-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
