/* Hero */
div.hero{
    background-color: #242D39;
    color: #FAFAFA;
    padding-bottom: 40px;
    text-align: left;

    & + .content{
        padding-top: 0;
    }

    h1{
        @include font-regular;
        font-size: 32px;
        margin-bottom: 4px;
        max-width: 768px;
        margin: 0 auto 4px;
        padding-top: 120px;
        width: 95%;
    }

    /* Subheading */
    div.subheading{
        @include font-regular;
        font-size: 18px;
        opacity: .80;
        margin: auto;
        max-width: 768px;
        text-transform: uppercase;
        width: 95%;
    }
}



/* Responsive */
div.hero{


    // 640px
    @media (max-width: 640px) {

        // Reduce content width.
        h1,
        div.subheading{
            width: 88%;
        }

    }


    // 540px
    @media (max-width: 640px) {

        // Reduce font sizes.
        h1            {  font-size: 24px  }
        div.subheading{  font-size: 16px  }

    }

    
}